body {
  background-color: #de3163;
}

header {
  padding-bottom: 50px;
}

h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Sixtyfour", sans-serif;
  text-decoration: none;
  color: aqua;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Sixtyfour", sans-serif;
  text-decoration: none;
  color: rgb(153, 167, 33);
}

a {
  font-family: "Sixtyfour", sans-serif;
  text-decoration: none;
  color: aqua;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 5em;
  list-style: none;
  justify-content: center;
  transition: 500ms;
}

nav ul li:hover {
  transform: scale(1.5);
  transition: 500ms;
}

img {
  display: flex;
}
