* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;

  --primary: #28262c;
  --secondary: #14248a;
  --tertiary: #998fc7;
  --font: #f9f5ff;
}

body {
  background-color: var(--primary);
}

header {
  background-color: var(--secondary);
  padding: 1.5rem;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  gap: 1.5em;
}

.nav-buttons {
  color: var(--font);
  text-decoration: none;
}

.nav-buttons:hover {
  color: var(--tertiary);
  text-decoration: none;
}

h1 {
  color: var(--font);
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding-top: 2em;
  margin: 0.5em;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--font);
}
